#list-search{
    position: absolute;
}

/* background.css */
main {
    min-height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url('images/Imagen de WhatsApp 2024-11-12 a las 16.07.41_d6f9ff95.jpg');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card {
    background-color: rgba(255, 255, 255, 0.8); 
}



    
